$myColor: blue
$myFont: Helvetica
$myBorder: 1px solid blue
$listColor: #000000
$backgroundColor: mix(black, white, 50%)
/*$backgroundColor: hsl(180, 50%, 50%)*/
@mixin shadow($top, $left, $blur, $color, $inset)
  -webkit-shadow: $top $left $blur $color #{$inset}

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

//body
  font-family: $myFont
  background: $backgroundColor
  background: lighten($backgroundColor, 20%)

#logo
  height: 3em
  width: 3em
  /*@include border-radius(50%)  */

//nav
  border: $myBorder
  background: #ffffff 
  +border-radius(0.3em)

  ul
    margin: 0
    padding: 0
    list-style: none

  li
    color: $myColor
    display: inline-block

  a
    color: blue
    display: block
    padding: 6px 12px
    text-decoration: none

//ul
  margin: 0
  padding: 0
  list-style: none

//li
  color: $listColor	
  display: inline-block

//a
  color: blue
  display: block
  padding: 6px 3px
  text-decoration: none


